.class__1 {
  width: 1px;
}

.title {
  display: flex;
  width: 150px;
}

/* .title { */

/*  height: 1px; */

/* } */

/* !* Before: *! */

/* a { */

/*  --custom-prop: 10px; */

/*  bottom: 2px; */

/*  top: 0; */

/*  display: block; */

/*  right: 1px; */

/* } */

a {
  width: 2px;
  display: block;
  height: 1px;
  color: #fff;
}
